*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-align: center;
    left: 0;
    right: 0;
    top:5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}


nav {
    height: 100px;
    background: #FFEFAE; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw-1300px)/2);
}
nav ol{
    display: flex;
    list-style: none;
    margin: auto 0;
}
nav ol li{
    display:0 2px;
}
nav ol li a{
    color: #050101;
    font-size: 10px;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    font-weight:400;
    letter-spacing: 1px;
    padding: 5px 10px;
}
nav ol li:hover a{
    background: #ecda6a;
    color:#0a5071;
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFEFAE
}
.slide{
    height: 100%;
    width: 180px;
    position: left;
    background-color:#FFEFAE;
    transition: 0.5s ease;
}
h1{
    color:#050101;
    font-weight: 800;
    text-align: center;
    padding: 10px 0;
    padding-right: 30px;
    pointer-events: none;
}
nav ul li{
    list-style:none;
}
nav ul li a{
    color:#050101;
    font-weight:400;
    padding:5px 0;
    display: block;
    text-transform:capitalize;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 5px 10px;
    transition: 0.2s ease-out;
}
nav ul li:hover a{
    background: #ecda6a;
    color:#0a5071;
} 
nav ul li a i {
    width: 60px;
    text-align:center;  
}
input{
    display:none;
    visibility: hidden;
    -webkit-appearance: none;
    
}
img {
    max-width: 100%;
    height: auto;
}
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        text-align: center; /* Center the items */
    }
}
.navbar a {
    padding: 10px; /* Smaller padding for mobile */
}
.navbar {
    display: flex;
    justify-content: space-around; /* Distributes space evenly */
    align-items: center; /* Centers items vertically */
    background-color: #333; /* Background color for navbar */
    padding: 10px; /* Padding for the navbar */
}

.navbar a {
    color: white; /* Link color */
    text-decoration: none; /* Remove underline */
    padding: 10px 15px; /* Padding for links */
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column; /* Stack items on mobile */
        align-items: flex-start; /* Align left */
    }

    .navbar a {
        padding: 10px; /* Adjust padding for mobile */
        width: 100%; /* Full width for mobile links */
        text-align: center; /* Center text */
    }
}
.navbar a {
    font-size: 10px; /* Default size */
}

@media (max-width: 600px) {
    .navbar a {
        font-size: 10px; /* Smaller size for mobile */
    }
}
.nav-left, .nav-right {
    display: flex;
    gap: 15px; /* Spacing between items */
    flex: 1; /* Distributes space evenly */
}

